<!DOCTYPE html>
<html>
<head>
    <title>情報活用力チェック</title>
    <link rel="stylesheet" href="../result/css/check.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        h2 {
            color: #007bff;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        button {
            margin-top: 20px;
        }

        .form-group select {
            width: 480px; /* 任意の幅に設定 */
        }
        </style>
</style>
</head>
<body>
    <header class="c-header c-hamburger-menu">
        <a href="#" class="c-header__logo">情報活用力チェック</a>
        <input type="checkbox" name="hamburger" id="hamburger" class="c-hamburger-menu__input"/>
        <label for="hamburger" class="c-hamburger-menu__bg"></label>
        <ul class="c-header__list c-hamburger-menu__list">
            <li class="c-header__list-item">
                <a href="#" class="c-header__list-link">TOP</a>
            </li>
            <li class="c-header__list-item">
                <a href="#" class="c-header__list-link">分析結果履歴</a>
            </li>
            <li class="c-header__list-item">
                <a href="#" class="c-header__list-link">問い合わせ</a>
            </li>
        </ul>
        <label for="hamburger" class="c-hamburger-menu__button">
            <span class="c-hamburger-menu__button-mark"></span>
            <span class="c-hamburger-menu__button-mark"></span>
            <span class="c-hamburger-menu__button-mark"></span>
        </label>
    </header>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center">{{category}}</h2>
                <div class="border">
                    <p>メールアドレス: {{email}}</p>
                    <p>大学名: {{university}}</p>
                    <p>学年: {{grade}}</p>
                    <p>学科: {{department}}</p>
                </div>
                <form action="/submit" method="post">
                    <label for="category">カテゴリを選択してください:</label>
                    <select id="category" name="category" onchange="showQuestions()">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>

                    <div id="questions">
                        {% for item in question %}
                            <p id="question{{item.qnumber}}" style="{% if item.qnumber in range(1, 15) %}display: block;{% else %}display: none;{% endif %}">Q{{ item.qnumber }}. {{ item.sentence }}</p>
                            <div class="skill{{item.qnumber}}" style="{% if item.qnumber in range(1, 15) %}display: block;{% else %}display: none;{% endif %}">
                                <input type="radio" id="yes{{item.qnumber}}" name="skill{{item.qnumber}}" value="yes" {% if item.radio_check == 'yes' %}checked{% endif %} style="display: none;">
                                <label for="yes{{item.qnumber}}" class="label">〇</label>
                                <input type="radio" id="no{{item.qnumber}}" name="skill{{item.qnumber}}" value="no" {% if item.radio_check == 'no' %}checked{% endif %} style="display: none;">
                                <label for="no{{item.qnumber}}" class="label">✕</label>
                                <input type="radio" id="unknown{{item.qnumber}}" name="skill{{item.qnumber}}" value="unknown" {% if item.radio_check == 'unknown' %}checked{% endif %} style="display: none;">
                                <label for="unknown{{item.qnumber}}" class="label">?</label>
                                <br>
                                <div class="borderquestion"></div>
                            </div>
                        {% endfor %}
                    </div>

                    <br>
                    <div class="form-group">
                        <label for="university">大学名:</label>
                        <select class="form-control" id="university" name="university" onchange="updateDepartments()">
                        </select>
                        <br>
                        <label for="grade">学年:</label>
                        <select class="form-control" id="grade" name="grade" onchange="updateCourses()">
                        </select>
                        <br>
                        <label for="course">所属:</label>
                        <select class="form-control" id="course" name="department">
                        </select>
                        <br>
                    </div>
                    <div class="transition">
                        <input type="submit" id="submit" value="回答を送信">
                    </div>
            </form>

            <button onclick="location.href='/logout'" class="btn btn-link">ログアウト</button>
            </div>
        </div>
    </div>
    <script>
        var universityData = {{ universities }};

        var universityDropdown = document.getElementById("university");
        var gradeDropdown = document.getElementById("grade");
        var courseDropdown = document.getElementById("course");

        // 大学名のドロップダウンを設定
        for (var university2 in universityData) {
            console.log(university2);
            var option = document.createElement("option");
            option.value = university2;
            option.text = university2;

            // 選択したい大学の条件をここで追加
            if (university === university2) {
                option.selected = true;
            }

            universityDropdown.add(option);
        }

        // 学年のドロップダウンを設定
        var grades = Object.keys(universityData["{{university}}"]);
        console.log("学年リスト：" + grades);

        // 学年のドロップダウンを設定
        for (var i = 0; i < grades.length; i++) {
            var option = document.createElement("option");
            option.value = grades[i];
            option.text = grades[i];

            // 選択したい学年の条件をここで追加
            if ("{{grade}}" == grades[i]) {
                option.selected = true;
            }

            gradeDropdown.add(option);
        }

        // 所属のドロップダウンを設定
        var courses = universityData["{{university}}"]["{{grade}}"];

        // 所属のドロップダウンを設定
        for (var i = 0; i < courses.length; i++) {
            var option = document.createElement("option");
            option.value = courses[i];
            option.text = courses[i];

            // 選択したい学年の条件をここで追加
            if ("{{department}}" == courses[i]) {
                option.selected = true;
            }

            courseDropdown.add(option);
        }
    </script>
    <script src="../result/js/Myjs/check.js"></script>
</body>
</html>