<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情報活用力チェック</title>
    <link rel="stylesheet"  type="text/css" href="result/css/hamburger.css">

    <style>

        .thank-you-message {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
            font-size: 3em;
            color: #009688; /* テキストの色を指定 */
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="thank-you-message">
        調査のご協力ありがとうございました！！
    </div>
</body>
</html>
