<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>情報活用力チェック</title>
    <link rel="stylesheet"  type="text/css" href="result/css/hamburger.css">
    <link rel="stylesheet"  type="text/css"  href="result/css/question.css">
    <script>console.log({{ all_dict | tojson }})</script>
    <script  type="text/javascript" src="result/js/Myjs/question.js"></script>
    <style>
            body {
                background-color: #f8f9fa;
            }

            p {
                margin-bottom: 20px;
            }

            form {
                margin-bottom: 20px;
            }

            button {
                margin-top: 20px;
            }

            .rating-description {
                font-weight: bold; /* 太字にする */
                font-size: larger; /* 文字の大きさを少し大きくする */
            }
        </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h2 class="text-center">{{all_dict.category}}</h2>
                <div class="bordertitle">
                    <p>メールアドレス: {{all_dict.email}}</p>
                    <p>大学名: {{all_dict.university}}</p>
                    <p>学年: {{all_dict.grade}}</p>
                    <p>学科: {{all_dict.department}}</p>
                </div>
                <form action="{% if all_dict.cnumber == 4 %}/check{% else %}/question{{ all_dict.cnumber+1 }}{% endif %}" method="post">
                    <div class="form-group">
                        <p class="rating-description">1：まったくあてはまらない　2：あまりあてはまらない　3：どちらともいえない　4：ややあてはまる　5：とてもあてはまる</p>
                        {% for item in all_dict.question %}
                            <label for="skill{{item.qnumber}}">Q{{ item.qnumber }}. {{item.sentence}}</label>
                            <br>
                            <div class="question">
                                <input type="radio" id="very_unsuitable{{item.qnumber}}" name="skill{{item.qnumber}}" value="1" {% if item.radio_check == '1' %}checked{% endif %} onchange="checkRadioSelected()">
                                <label for="very_unsuitable{{item.qnumber}}" class="label">1</label>

                                <input type="radio" id="unsuitable{{item.qnumber}}" name="skill{{item.qnumber}}" value="2" {% if item.radio_check == '2' %}checked{% endif %} onchange="checkRadioSelected()">
                                <label for="unsuitable{{item.qnumber}}" class="label">2</label>

                                <input type="radio" id="neutral{{item.qnumber}}" name="skill{{item.qnumber}}" value="3" {% if item.radio_check == '3' %}checked{% endif %} onchange="checkRadioSelected()">
                                <label for="neutral{{item.qnumber}}" class="label">3</label>

                                <input type="radio" id="suitable{{item.qnumber}}" name="skill{{item.qnumber}}" value="4" {% if item.radio_check == '4' %}checked{% endif %} onchange="checkRadioSelected()">
                                <label for="suitable{{item.qnumber}}" class="label">4</label>

                                <input type="radio" id="very_suitable{{item.qnumber}}" name="skill{{item.qnumber}}" value="5" {% if item.radio_check == '5' %}checked{% endif %} onchange="checkRadioSelected()">
                                <label for="very_suitable{{item.qnumber}}" class="label">5</label>
                                <br>
                                <div class="border"></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="transition">
                        <button type="button" onclick="location.href='{{all_dict.nextpage}}'" class="btn btn-link">前に戻る</button>
                        <input type="submit" id="submit" value="{% if all_dict.cnumber == 4 %}確認画面へ{% else %}次へ{% endif %}" disabled>
                    </div>
                </form>
                <p class="page">{{all_dict.cnumber}} / 4 </p>
                <button onclick="location.href='/logout'" class="btn btn-link">ログアウト</button>
            </div>
        </div>
    </div>

</body>
</html>