<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>情報活用力チェック</title>
    <link rel="stylesheet"  type="text/css" href="result/css/hamburger.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #007bff;
            text-align: center;
            margin-bottom: 30px;
        }

        button {
            margin-top: 20px;
        }

        p {
            color: red;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>情報活用力チェック</h1>
                <button onclick="location.href='/register'" class="btn btn-primary btn-block">新規登録</button>
                <button onclick="location.href='/dashboard'" class="btn btn-secondary btn-block">ログイン</button>
                <p>調査へのご協力，ありがとうございます．<br>
                    この情報活用力チェックの目的は，学生自身が現時点での自身の情報通信技術に関する知識やスキルの特徴を把握することです。<br>
                    詳しい説明はログイン後にある通りです。<br>
                    ひとまず大学のメールアドレスで登録&ログインしていただけると幸いです！！</p>

            </div>
        </div>
    </div>
</body>
</html>
